body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/smpn2sempu.jpg);
    background-position: center;
    background-size: cover;
    opacity: .9;
}

.box-login {
    border: 1px solid #ccc;
    width: 350px;
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #ccc;
    background-color: #ffffff;
    border-radius: 10px;
}

.box-form input {
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    box-sizing: border-box;
    margin: 10px 0px;
    border-radius: 50px;
    /* Menambahkan border-radius untuk membuat rounded */
}

.box-form label {
    font-weight: bold;
}

.tombol-login {
    background: #3131ff;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #3131ff;
    border-radius: 3px;
    color: white;
}

.password-toggle {
    cursor: pointer;
}

.judul {
    text-align: center;
    font-weight: bold;
}
